
<div class="order__container">
  <mat-card *ngIf="orderWithCustomer$ | async as order">
    <mat-card-title>Order #{{ order.id }} - {{order.status}}</mat-card-title>
    <mat-card-content>
      <div>
        <ng-container *ngIf="order.customer as customer">
          <div>
            Customer:
            <a class="order__value" [routerLink]="['/customers', customer.id]">{{customer.name}}</a>
            ({{customer.id}})
          </div>
        </ng-container>
        <div>
          Items:
          <div class="order__item-list-container">
            <div *ngFor="let orderItem of orderItemsWithProduct$ | async">- {{ orderItem.product?.name }} x {{ orderItem.quantity }}</div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>