
<div class="order__container">
  <mat-card *ngIf="orderWithCustomer$ | async as order">
    <mat-card-title>Order #{{ order.id }} - {{order.status}}</mat-card-title>
    <mat-card-content>
      <div>
        <div>Customer: <span class="order__value">{{order.customer?.name}}</span></div>
        <div>Customer #<span class="order__value">{{order.customerId}}</span></div>
        <div>
          Items:
          <div class="order__item-list-container">
            <div *ngFor="let orderItem of orderItemsWithProduct$ | async">- {{ orderItem.product?.name }} x {{ orderItem.quantity }}</div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>